@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{box-sizing: border-box;}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    height: auto;
    padding: 25px;
    width: 100%;
}
main{
    width: 100%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}
h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 67px;
    font-weight: 700;
    color: #0a2ff1;
    margin: 0;
}
p{
    font-size: 30px;
    color: #0a2ff1;
    background-color:  #eff2ff;
    width: 960px;
    display: inline;
    margin-right: 10px;
    margin-bottom: 30px;
}
.regular{
    font-weight: 400;
}

#container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: 400px;
}

    

img{
    width: 30%;
    height: auto;
    
}

button{
    color: white;
    background-color: #8a9af1;
    font-size: 30px;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Poppins", sans-serif;

}
footer { width: 100%; background-color: #3ffff3; height: 10px;}

